@model PetStore.Models.Animal

@{
    ViewBag.Title = "Detail";
}

<h2> @Model.Name Detail</h2>
<hr />
<div class="container">
    <div class="col-lg-3">
        <img src="~/Images/@Model.PicturePath" class="detailImage img-responsive" />
        <center><p id="animalCost">@Model.Price.ToString()</p></center>
    </div>
    <div class="col-lg-9">
        <p>@Model.ShortDescription</p>
        <p>@Model.MainDescription</p>
    </div>
</div>
