body {
    background-color: #DBC7AA;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bigBreak {
    margin-top: 50px;
}

.inventoryImg {
    width: 250px;
    height: 100px;
    margin-top: 30px;
    box-shadow: 8px 8px 10px #aaa;
}

.polaroid {
  position: relative;
  width: 320px;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

.multiLine {
    height: 100px;
}

.homeText p{
    font-size: large;
    color: #6B7C8E;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color: #6B7C8E;
}

.navbar-nav li a {
    color: #F7882F;
}

.navbar-header a {
    color: #FBC12F;
}

