@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="bigBreak"></div>
    <div class="col-lg-6">
        <div class="polaroid">
            <p>Cardinal Pet Store!</p>
            <img src="~/Images/pets.png" />
        </div>
    </div>
    <div class="col-lg-6 homeText">
        <br />
        <p>
            Cardinal Pet Store cares about you and your pets. We pride ourselves on our wide selection of the highest
            quality food on the market, clean and positive environment, excellent customer service and knowledgeable staff.
            We will make sure you leave our store feeling confident about your pet’s health and well-being. Whether you’re
            shopping for a dog, cat, fish, reptile, bird, small animal or just coming in for a groom, we’ll make sure you look
            forward to coming back!
        </p>
        <p>
            Inside our store, you’ll find our Doggie Day Care center, which offers day care services from hour long to all day,
            with price breaks for half day and full day services. Don’t forget to ask about our loyalty program for our Full Day Package!
        </p>
    </div>
</div>